
$color_bordes: white;
$color_fondo:black;
$color_texto:white;
$color_texto_segundo:red;
$tipo_borde:solid;
$tipo_letra:'Courier New', Courier, monospace;
$delineado_titulo:underline red;
$letra_navbar:xx-large;
@mixin imagenes-ejemplo{
    width: 300px;
    height: 500px;
}

@mixin tama単o-lista{
    font-size: xx-large;
    ul{
        font-size: x-large;
    }
}
%texto{
    color: $color_texto;
    font-family:$tipo_letra;
}
 #UpperBrand{
    font-size: $letra_navbar;
 }
img{
    @include imagenes-ejemplo;
}


h1,p{
    @extend %texto;
}

h5{
    @extend %texto;
     text-decoration: $delineado_titulo;
}

main{
background: $color_fondo;
}

.col{
    border-style: solid;
    border-color: $color_bordes,
}

ul{
    @include tama単o-lista;
color: $color_texto;
    ul{
        color: $color_texto_segundo;
    }
}
@function dividir($tama単o_base,$division){
    @return($tama単o_base/$division);
};

@for $i from 1 through 5 {
    #imagen-#{$i} {
        width: dividir(20%,$i);
        height: dividir(20%,$i);
    }
}
